body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to multiple rows */
  justify-content: space-evenly; /* Distributes cards evenly */
  margin: 20px auto;
  max-width: 1000px; /* Adjust the container width */
}

