@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global resets or overrides */
body {
  @apply bg-[#282c34] m-0 font-sans overflow-hidden h-screen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}